@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaStore - About</title>
</head>

<body>
    <div>
        <style type="text/css">
            h1 {
                margin-top: 20px;
            }
        </style>
        <h1>PizzaStore</h1>
        <hr>
        <h2>Небольшое учебное приложение на ASP.NET: "Веб-магазин пиццы"</h2>
        <hr>
        Использовались:
        <ul>
            <li>ASP.NET MVC</li>
            <li>Entity Framework Core</li>
        </ul>
        Для более подробной информации вы можете посетить наш <a
            href="https://github.com/MikeKondr99/PizzaStoreSln">GitHub репозиторий</a>
    </div>
</body>

</html>
