@using PizzaStore.Database
@model IEnumerable<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Store</title>

    <!-- Bootstrap reboot (для сброса стилей) -->
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">

    <!-- Bootstrap сетка -->
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">

    <!-- Шрифты с Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <!-- Стили сайта -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="category">
    <p><a name="pizza"></a>Пицца<p>
    </div>
    <div class="container" mt-5>
        <div class="row">
                @foreach (var item in Model)
                {
            <div class="col-md-3">
                <div class="product">
                    <div class="image">
                        <img src="https://avatars.mds.yandex.net/i?id=1b49a822a2076ef5fefd6a9b3f015720-4507927-images-thumbs&n=13&exp=1"
                            alt="">
                    </div>
                    <div class="info">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <div>
                            <span class="price">@Html.DisplayFor(modelItem => item.Price) ₽</span>
                            <button class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                }
        </div>
    </div>
    <div class="category">
    <p><a name="drinks"></a>Напитки<p>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <div class="image">
                        <img src="https://smakfoodcourt.ru/wp-content/uploads/2022/03/photo_2022-03-13_15-14-19.jpg"
                            alt="">
                    </div>
                    <div class="info">
                        <h3>Фанта 1л</h3>
                        <div>
                            <span class="price">145 ₽</span>
                            <button class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>