<!DOCTYPE html>
<html lang="en">
<!-- Header -->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PizzaStore</title>

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
		rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/header-styles.css">
	<link rel="stylesheet" href="css/hamburger-styles.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PizzaStore.styles.css" asp-append-version="true" />
	<script src="hamburger-menu-script.js"></script>
	<script type="text/javascript" src="js/site.js"></script>
</head>

<body>
	<div class="navbar">
		<div class="container">
			<h3><a name="top" class="navbar-brand">PizzaStore</a></h3>
			<div class="navbar-wrap">
				<ul class="navbar-menu">
					<li><a href="#pizza">Пицца</a></li>
					<li><a href="#snacks">Закуски</a></li>
					<li><a href="#drinks">Напитки</a></li>
				</ul>
				<a href="#" class="basket">Корзина</a>
			</div>
		</div>
	</div>
	<div class="burger-menu">
		<a href="#" class="burger-menu__button">
			<span class="burger-menu__lines"></span>
		</a>
		<nav class="burger-menu__nav">
			<a href="#pizza" class="burger-menu__link">Пицца</a>
			<a href="#snacks" class="burger-menu__link">Закуски</a>
			<a href="#drinks" class="burger-menu__link">Напитки</a>
			<a href="about" class="burger-menu__link">О Нас</a>
		</nav>
		<div class="burger-menu__overlay"></div>
	</div>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<!-- Footer -->
	<footer class="border-top footer text-muted f-marg">
		<div class="container" style="text-align:right;">
			<a href="about">About</a> -
			<a href="https://github.com/MikeKondr99/PizzaStoreSln">Source (GitHub Page)</a> -
			<a href="#top">To the top</a> -
			<a href="#top">8-800-555-35-35</a> -
			<a href="#top">PizzaStore@gmail.com</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/hamburger-menu-script.js"></script>
	<script src="~/js/basket.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
